<div class="row">
    <div class="col-6">
        <app-donut title="Ventas" [labels]="labels2" 
        [data]="data2"></app-donut>       
    </div>
    <div class="col-6">
        <app-donut title="Compras" [labels]="labels1" 
        [data]="data1"></app-donut>       
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-donut title="Asistencia" ></app-donut>       
    </div>
    <div class="col-6">
        <app-donut title="Reportes" [labels]="labels1" ></app-donut>       
    </div>
</div>